# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore virtual environment directories
env/
venv/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore log files and temp files
*.log
*.tmp

# Ignore specific large files
Models/BERT_QA/model.safetensors
Models/BERT_QA/model.safetensors
Models/BERT_QA/model.safetensors
